
    <!-- <form class="form" novalidate #form2="ngForm" (ngSubmit)="save(form2)" id="forms">
        <l-select2 name="SimpleData" [(ngModel)]="selected2" [data]="data2" ></l-select2>
        <br /><br />        
    </form> -->
    <!-- <button class="btn btn-outline-info" onclick="myFunction()">Add</button>
    <script>
        function myFunction() {
            var itm = document.getElementById("myList2").lastChild;
            var cln = itm.cloneNode(true);
            document.getElementById("myList1").appendChild(cln);
        }
    </script> -->

<app-askd></app-askd>